html {
	font-size: 100%;
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

/*container1 begins*/
.container1 {
	display: flex;
	background-image: url(back9.jpg);
	max-width: 2000px;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
}
.container1 h1 {
	text-transform: uppercase;
	cursor: pointer;
	align-self: center;
	color: #ffffff;
}
.container1 h1:hover {
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF; /*difficulty in reducing my border length to text width after transitioning*/
	color: #000000;
	padding: 10px;
	font-size: 40px;
	transition: all 1s;
	transform: translate(20px);
}
/*@media screen and (max-width: 500px) {
	.container1 h1:hover {
		padding: 0px;	}
}*/

h2 {
	margin-top: 50px;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}
hr {
	/*margin-top: 50px;
*/	width: 75%;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
	background-color: #000000;
}
.container2 {
	max-width: 75%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.container2 p {
	font-size: 20px;
	text-align: center;
}
.footer {
	background-color: #000000;
}
.footer p {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 1.3rem;
	text-align: center;
	padding: 15px;
	line-height: 5px;
}

.main {
	background-color: #74AE97;
}

.container3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	width: 75%;	
	grid-column-gap: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #74AE97;
}
._container3 {
	order: 2;
}
._container3 p {
	font-size: 1.2rem;
	font-weight: normal;	
}

}
._container33 {
	order: 1;
}

._container33 p {
	font-size: 1.2rem;
	font-weight: normal;	
}

._container333 {
	order: 3;
}

._container333 p {
	font-size: 1.2rem;
	font-weight: normal;	
}

.container4 {
	text-align: center;
	margin: 40px auto;
	max-width: 75%;
	padding: 20px;

}
@media screen and (min-width: 900px) {
	.container4 {
		display: flex;
		justify-content: space-between;

	}
}
._container4 {	
	margin-top: 10px;
	box-sizing: border-box;
	flex-basis: 30%;
	padding: 20px;
}
.container5 {
	height: 300px;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	display: flex;

}
._container5 {
	color: #FFFFFF;
	margin: auto;
	font-size: 40px;
}
.container6 {
	height: 300px;
	max-width: 75%;
	margin: auto;
	display: flex;
	background-color: lavender;
	justify-content: space-around;
	flex-wrap: wrap;
}
._container6 {
	margin: auto;
	box-sizing: border-box;
	height: 200px;
	width: 200px;
	background-color: #74AE97;
	flex-basis: 15%;
	display: flex;
}
@media screen and (max-width :500px) {
	.container6 {
		flex-wrap: wrap;
	}
}
._container6 p {
	font-size: 70px;
	font-weight: bold;
	margin: auto;
}
